@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.coffee-heading {
  color: #513928; /* coffee color */
  -webkit-text-stroke: 0.1px rgb(202, 195, 195); /* thin white outline */
}


@import "tailwindcss";